body {
    background: #f1f2f7 none repeat scroll 0 0;
    color: #767676;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    margin: 0 !important;
    padding: 0 !important;
    text-rendering: optimizelegibility;

}

hr { 
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 1px solid #ddd;
	margin: 1em 0; padding: 0; 
}
.coupons-wrap{
    overflow: hidden;
    margin-top: .5%;
    margin-bottom: .5%;
}

.coupon{
    width: 19%; 
    float: left; 
    margin-left: .5%;
    margin-right: .5%;
}
.coupon-inner{
    border: 1px solid #E3E3E3; 
    padding: 5px;
}
.coupon-logo{
    overflow: hidden;
    border-bottom: 2px solid #E3E3E3;
}

.coupon-logo img{
    width: 100%;
}
.coupon p{
    font-size: 10px;
    text-align: center;
    padding: 0;
    margin:0;
    margin-bottom: 5px;
}
.coupon p span{
    font-weight: bold;
}
.spacer{
    
    padding-top: 40px;
}